.list_item {
    font-size: 16px;
}

.list_item_inner {
    display: flex;
    align-items: center;
    gap: .5em;
}

.list_item_items {
    padding-left: 1.5em;
    display: none;
}

.list_item_arrow {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.list_item_folder {
    width: 2em;
}

.list_item_open > .list_item_items {
    display: block;
}

.list_item_open > .list_item_inner .list_item_arrow {
    transform: rotate(180deg);
}