@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

/* Common styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.body{
    font-family: "SFProText";
    font-style: "SFProText-Medium";
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #101828;
}

.wrapper{
    max-width: 1124px;
    margin: 0 auto;
}

.wrapper_footer{
    margin: 0 auto;
}

.icon_tiny{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.icon_tiny_2{
    margin-right: 4px;
    width: 28px;
    height: 28px;
}

.blue_text{
    color: #306FF5;
}

.hidden_menu_checkbox{
    display: none;
}

.hidden_menu{
    background-image: url(../svg/hidden_menu.svg);
    background-size: cover;
}

.hidden_menu_checkbox:checked + .hidden_menu{
    width: 36px;
    height: 36px;
    background-image: url(../svg/hidden_menu_exit.svg);
    background-size: cover;
}

.hidden_content{
    background-color: #FFFFFF;
    width: 100vw;
    padding: 0;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Common styles end */

/* Header styles start */

.header_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-top: 24px;
    padding: 16px 24px;
    box-shadow: 0px 2px 24px 0px #00000014;
    position: relative;
}

.header_name_link{
    text-decoration: none;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: #2D66EE;
    line-height: 18px;
}

.header_name_link:hover, .header_name_link:focus, .header_name_link:active{
    opacity: 0.75;
}

.header_navigation_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    list-style-type: none;
}

.header_navigation_link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    line-height: 18px;
}

.header_navigation_link:hover, .header_navigation_link:focus, .header_navigation_link:active{
    opacity: 0.75;
}

.header_navigation_item{ 
    list-style-type: none;
}

.header_contacts{ 
    display: flex;
    gap: 32px; 
} 

.header_contacts_item{
    display: flex;
    align-items: center;
}

.header_contacts_text{
    font-size: 14px;
    font-weight: 500;
    color: #2D66EE;
    line-height: 18px;
}

.header_contacts_last_number{
    font-size: 14px;
    font-weight: 500;
    color: #2D66EE;
    line-height: 18px;
    margin-left: 16px;
}

.hidden_content h1{
    color: #2D66EE;
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 52px;
}

.header_navigation_list_hidden, .header_navigation_link_hidden{
    display: flex;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    color: #101828;
    flex-direction: column;
}

.header_navigation_hidden{
    margin-bottom: 52px;
}

.header_contacts_item_hidden{
    display: flex;
    text-align: center;
    align-items: center;
}

/* Header styles end */

/* Introduction styles start */

.introduction{
    background-color: #F2F4F7;
}

.introduction_greeting h1{
    font-family: "Inter";
    font-weight: 700;
    color: #101828;
    margin-bottom: 24px;
}

.introduction_greeting p{
    font-size: 15px;
    font-weight: 500;
    color: #101828;
    line-height: 20px;
}

.introduction_form{
    border-radius: 12px;
    box-shadow: 0px 0px 24px 0px #00000029;
    background-color: #FFFFFF;
    padding: 24px;
}

.introduction_form h3{
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 36px;
}

.introduction_form form{
    gap: 24px;
    display: flex;
}

.introduction_form_sign{
    font-family: "SFProText";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #667085;
    margin-bottom: 8px;
}

.introduction_form_item_flag{
    background: transparent url(../img/flagKazakhstan.png) no-repeat left;
    background-size: 20px;
}

.introduction_form_item_flag::placeholder{
    padding-left: 28px;
}

.introduction_form_item{
    width: 224px;
    font-family: "SFProText";
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #101828;
    border: 0;
    border-bottom: 0.7px solid #D0D5DD;
    padding: 8px 0px;
}

.introduction_form_item::placeholder{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #101828;
}

.introduction_form button{
    width: 132px;
    padding: 11px 24px;
    color: #FFFFFF;
    background: #2D66EE;
    font-family: "SFProText";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 8px;
}

.introduction_form button:hover, .introduction_form button:focus, .introduction_form button.active{
    background-color: #1250DE;
}

/* Introduction styles end */

/* Competence styles start */

.competence{
    justify-content: space-between;
}

.competence .wrapper{
    display: flex;
}

.competence_greeting h1{
    font-family: "Inter";
    font-weight: 700;
    line-height: 52px;
    color: #101828;
    margin-bottom: 32px;
}

.competence_greeting p{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #101828;
    margin-bottom: 34px;
}

.competence_technologies h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #101828;
    margin-bottom: 16px;
}

.competence_technologies p{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #344054;
    margin-bottom: 32px;
}

.competence_technologies span{
    color: #2D66EE;
}

.competence_navigation_item{
    gap: 12px;
    list-style-type: none;
    height: 48px;
    display: flex;
}

.competence_navigation_link{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1D2939;
    text-decoration: none;
}

.competence_navigation_link:hover, .competence_navigation_link:focus, .competence_navigation_link:active{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #101828;
}

/* Competence styles end */

/* Footer styles start */

.footer_content{
    background-color: #101828;
    border-radius: 12px;
    box-shadow: 0px 2px 24px 0px #00000014;
}

.footer_contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer_contacts_sign{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.footer h1{
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.footer h4{
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
}

.footer h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #98A2B3;
}

.footer p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer_country{
    justify-content: center;
    display: flex;
    gap: 12px;
}

/* Footer styles start */

/* Adaptive - Computer */

@media(min-width: 1440px){
    .hidden_menu{
        display: none;
    }

    .introduction{
        padding-top: 160px;
        min-height: 900px;
        background-image: url('../svg/introduction_background.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    .introduction_greeting h1{
        width: 600px;
        font-size: 36px;
        line-height: 52px;
    }

    .introduction_greeting p{
        width: 600px;
        margin-bottom: 64px;
    }

    .introduction_form{
        width: 676px;
    }

    .introduction_form h3{
        font-size: 20px;
        line-height: 24px;
        width: 472px;
    }

    .competence{
        padding-top: 80px;
    }

    .competence_greeting{
        width: 600px;
    }

    .competence_technologies{
        width: 496px;
    }

    .competence .wrapper{
        gap: 128px;
    }

    .footer_content{
        margin: 48px 0px;
        padding: 24px;
    }

    .competence_greeting h1{
        font-size: 36px;
    }

    .footer h4{
        font-size: 17px;
    }

    .footer_contacts_item{
        width: 294px;
    }

    .footer_contacts{
        margin-bottom: 40px;
    }

    .wrapper_footer{
        max-width: 1224px;
    }
}

/* Adaptive - Tablet */

@media(max-width: 1440px) and (min-width: 767px){
    .wrapper{
        width: 768px;
        padding-left: 32px;
    }

    .header_content{
        padding: 25px 32px;
        margin-top: 16px;
        display: flex;
    }
    
    .hidden_menu{
        width: 59px;
        height: 40px;
    }

    .header_name{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header_navigation, .header_contacts_item{
        display: none;
    }

    .hidden_menu_checkbox:checked ~ .header_name, .header_contacts_item:last-child{
        display: none;
    }
    
    .header_contacts_item:last-child{
        display: flex;
        justify-content: flex-end;
    }

    .hidden_menu_checkbox:checked ~ .hidden_content{
        display: flex;
    }

    .introduction{
        padding-top: 138px;
        min-height: 778px;
        background-image: url('../svg/introduction_background2.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    .introduction_greeting h1{
        width: 383px;
        font-size: 28px;
        line-height: 40px;
    }

    .footer h4{
        font-size: 14px;
    }

    .introduction_greeting p{
        width: 383px;
        margin-bottom: 32px;
    }

    .introduction_form{
        width: 382px;
    }

    .introduction_form h3{
        font-size: 16px;
        line-height: 24px;
        width: 295px;
    }

    .introduction_form form{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .introduction_form div {
        display: flex;
        flex-direction: column;
    }

    .competence{
        padding-top: 32px;
    }

    .competence_greeting{
        width: 321px;
    }

    .competence_technologies{
        width: 320px;
    }

    .competence .wrapper{
        display: flex;
        gap: 83px;
    }

    .competence nav{
        padding-top: 200px;
    }

    .footer_content{
        padding: 46px 21px 37px 56px;
    }

    .competence_greeting h1{
        font-size: 36px;
    }

    .footer_contacts_item{
        width: 176px;
    }

    .footer_contacts_item:nth-child(3){
        width: 156px;
    }

    .footer_contacts{
        margin-bottom: 32px;
    }

    .wrapper_footer{
        max-width: 767px;
    }

    .hidden_menu_checkbox:checked + .hidden_menu{
        position: absolute;
        right: 148px;
        top: 37px;
    }

    .hidden_content h1{
        margin-top: 102px;
        font-size: 48px;
        line-height: 48px;
    }

    .header_navigation_list_hidden{
        display: flex;
        font-size: 36px;
        line-height: 52px;
        gap: 32px;
    }

    .header_contacts_hidden{
        flex-direction: row;
        display: flex;
        gap: 32px; 
        justify-content: center;
        margin-bottom: 137px;
        color: #2D66EE;
    } 
}

/* Adaptive - Phone */

@media(max-width: 767px){
    .wrapper{
        width: 425px;
        padding-left: 24px;
    }

    .header_content{
        padding: 35px 17px;
        margin-top: 20px;
    }

    .hidden_menu{
        width: 40px;
        height: 20px;
    }
    
    .header_name{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header_navigation, .header_contacts { 
        display: none; 
    }

    .hidden_menu_checkbox:checked ~ .header_name{
        display: none;
    }

    .hidden_menu_checkbox:checked ~ .hidden_content{
        display: flex;
    }

    .introduction{
        padding-top: 138px;
        min-height: 1282px;
        background-image: url('../svg/introduction_background3.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto 930px;
    }

    .introduction_greeting h1{
        width: 383px;
        font-size: 28px;
        line-height: 40px;
    }

    .introduction_greeting p{
        width: 383px;
        margin-bottom: 536px;
    }

    .introduction_form{
        width: 393px;
        margin-bottom: 32px;
    }

    .introduction_form h3{
        font-size: 16px;
        line-height: 24px;
        width: 295px;
    }

    .introduction_form form{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .introduction_form div {
        display: flex;
        flex-direction: column;
    }

    .competence{
        padding-top: 32px;
    }

    .competence_greeting{
        width: 321px;
    }

    .competence_technologies{
        width: 320px;
    }

    .competence .wrapper{
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    .footer_content{
        padding: 36px 16px 38px 32px;
    }

    .footer h4{
        font-size: 14px;
    }

    .competence_greeting h1{
        font-size: 32px;
    }

    .footer_contacts_item {
        flex: 1 1 50%;
        box-sizing: border-box;
        margin-bottom: 32px;
    }

    .footer_contacts{
        margin-bottom: 22px;
    }

    .wrapper_footer{
        max-width: 427px;
    }

    .hidden_menu_checkbox:checked + .hidden_menu{
        position: absolute;
        right: 28px;
        top: 13px;
    }

    .hidden_content h1{
        margin-top: 43px;
        font-size: 20px;
        line-height: 18px;
    }

    .header_navigation_list_hidden{
        display: flex;
        font-size: 24px;
        line-height: 35px;
        gap: 21px;
    }

    .header_contacts_hidden{
        flex-direction: column;
        display: flex;
        gap: 16px;
        margin-bottom: 59px;
        color: #2D66EE;
        align-items: center;
    } 
}

/* http://172.16.0.2:8080/src/