@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

/* Common styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.body{
    font-family: "SFProText";
    font-style: "SFProText-Medium";
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #101828;
}

.wrapper{
    max-width: 1124px;
    margin: 0 auto;
}

.wrapper_footer{
    max-width: 1224px;
    margin: 0 auto;
}

.icon_tiny{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.blue_text{
    color: #306FF5;
}

/* Common styles end */

/* Header styles start */

.header_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-top: 24px;
    padding: 16px 24px;
    box-shadow: 0px 2px 24px 0px #00000014;
}

.header_name_link{
    text-decoration: none;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: #2D66EE;
    line-height: 18px;
}

.header_name_link:hover, .header_name_link:focus, .header_name_link:active{
    opacity: 0.75;
}

.header_navigation_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    list-style-type: none;
}

.header_navigation_link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    line-height: 18px;
}

.header_navigation_link:hover, .header_navigation_link:focus, .header_navigation_link:active{
    opacity: 0.75;
}

.header_navigation_item{ 
    list-style-type: none;
}

.header_contacts{ 
    display: flex;
    gap: 32px; 
} 

.header_contacts_item{
    display: flex;
    align-items: center;
}

.header_contacts_text{
    font-size: 14px;
    font-weight: 500;
    color: #2D66EE;
    line-height: 18px;
}

.header_contacts_last_number{
    font-size: 14px;
    font-weight: 500;
    color: #2D66EE;
    line-height: 18px;
    margin-left: 16px;
}

/* Header styles end */

/* Main styles start */

.introduction{
    min-height: 100vh;
    background-color: #F2F4F7;
    padding-top: 160px;
    position: relative;
    background-image: url('../svg/introduction_background.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.introduction_greeting h1{
    width: 600px;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 700;
    color: #101828;
    line-height: 52px;
    margin-bottom: 24px;
}

.introduction_greeting p{
    width: 600px;
    font-size: 15px;
    font-weight: 500;
    color: #101828;
    line-height: 20px;
    margin-bottom: 64px;
}

.introduction_form{
    width: 676px;
    border-radius: 12px;
    box-shadow: 0px 0px 24px 0px #00000029;
    background-color: #FFFFFF;
    padding: 24px;
}

.introduction_form h3{
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 472px;
    margin-bottom: 36px;
}

.introduction_form form{
    gap: 24px;
    display: flex;
}

.introduction_form_sign{
    font-family: "SFProText";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #667085;
    margin-bottom: 8px;
}

.introduction_form_item_flag{
    background: transparent url(../img/flagKazakhstan.png) no-repeat left;
    background-size: 20px;
}

.introduction_form_item_flag::placeholder{
    padding-left: 28px;
}

.introduction_form_item{
    width: 224px;
    font-family: "SFProText";
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #101828;
    border: 0;
    border-bottom: 0.7px solid #D0D5DD;
    padding: 8px 0px;
}

.introduction_form_item::placeholder{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #101828;
}

.introduction_form button{
    width: 132px;
    padding: 11px 24px;
    color: #FFFFFF;
    background: #2D66EE;
    font-family: "SFProText";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 8px;
}

.introduction_form button:hover, .introduction_form button:focus, .introduction_form button.active{
    background-color: #1250DE;
}

/* Main styles end */

/* Footer styles start */

.footer_content{
    background-color: #101828;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 2px 24px 0px #00000014;
    margin: 48px 0px;
}

.footer_contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer_contacts_item{
    width: 294px;
}

.footer_contacts_sign{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.footer h1{
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.footer h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #98A2B3;
}

.footer p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer_country{
    justify-content: center;
    display: flex;
    gap: 12px;
}

/* Footer styles start */